.content-form{
    margin: 0 auto; /*中央寄せ*/
}

.item-form{
    display: grid;
    grid-template-columns: 1fr 1fr; /*item-formを等しく半分に分ける*/
    margin-top: 50px;
    gap: 40px;
    padding: 0 150px;
}

.image{
    width: 100%;
    margin-top: 10px;
}

.form__group{
    margin-left: 20px;
}

.item-content__name{
    font-weight: bold;
    font-size: 30px;
}

.item-content__brand{
    font-size: 13px;
    margin-bottom: 10px;
}

.item-content__price{
    font-size: 20px;
}

.yen-mark{
    font-size: 13px;
}

.item-content__price-tax{
    font-size: 13px;
}

.item-btn{
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

.item-content{
    margin-bottom: 30px;
}

.item-content__heading{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.comment__heading{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-input_content{
    margin-bottom: 20px;
}

.comment-input_content{
    resize: none;
}

.comment-inner{
    background: rgb(211, 211, 211);
    padding: 5px 0;
    font-size: 12px;
    margin: 5px 0 20px 0;
}