.content-form{
    margin: 0 auto; /*中央寄せ*/
}

.item-form{
    display: grid;
    grid-template-columns: 1fr 1fr; /*item-formを等しく半分に分ける*/
    margin-top: 50px;
    gap: 40px;
    padding: 0 150px;
}

.image{
    width: 100%;
    margin-top: 10px;
}

.item-information{
    margin-left: 20px;
}

.item-content__name{
    font-weight: bold;
    font-size: 30px;
}

.item-content__brand{
    font-size: 13px;
    margin-bottom: 10px;
}

.item-content__price{
    font-size: 20px;
}

.yen-mark{
    font-size: 13px;
}

.item-content__price-tax{
    font-size: 13px;
}

.item-btn{
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

.item-content{
    margin-bottom: 30px;
}

.item-content__heading{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.item-category {
    display: flex;
    margin-bottom: 15px;
}

.item-information__label {
    font-weight: bold;
    margin-right: 40px;
}

.category{
    border: 1px solid rgb(223, 223, 223);
    background: rgb(223, 223, 223);
    border-radius: 50px;
    font-size: 13px;
    padding: 1px 15px;
}

.item-information__status{
    font-size: 13px;
}

.item-comment{
    margin-left: 20px;
}

.comment__heading{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-input_content{
    margin-bottom: 20px;
}

.comment-input_content{
    resize: none;
}

.comment-content__inner{
    background: rgb(223, 223, 223);
    padding: 10px 0;
    font-size: 12px;
    margin: 5px 0 20px 0;
    border-radius: 3px;
}

/*アイコン*/
.icon-inner{
    margin: 5px 0;
}

.icon__star{
    display: inline-block;
    margin: 0 30px;
}

.like-btn {
    background: white;
    border: none;
}

.like-count {
    margin-left: 6px;
    margin-top: -4px;
    font-size: 12px;
}

.icon__speech-bubble{
    display: inline-block;
}

.comment-count{
    margin-left: 6px;
    margin-top: -4px;
    font-size: 12px;
}

.comment_inner{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.comment{
    width: 45px;
    height: 45px;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
}

.comment-user{
    font-weight: bold;
    margin-left: 20px;
}

.comment-content{
    margin-left: 10px;
}

