.content-form {
    width: 40%;
    margin: 0 auto;
    /*水平方向に中央寄せ*/
}

.content-heading {
    text-align: center;
    margin: 40px 0;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    font-weight: bold;
}

.register-form__error-message {
    color: red;
}

.text-input {
    width: 100%;
}

.form__button {
    margin-top: 60px;
    text-align: center;
}

.profile-btn {
    display: block;
    margin-bottom: 60px;
    font-size: 15px;
    font-weight: bold;
}

.back-btn {
    color: blue;
    text-decoration: none;
    padding-bottom: 40px;
    /*適用されない（100vhで考えているから？）*/
    font-size: 13px;
}


/*画像選択部分*/
.img-group {
    margin-bottom: 50px;
}

.img-content{
    display: flex;
    align-items: center;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.non-profile-img {
    width: 90px;
    height: 90px;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
}

.img-btn {
    display: none;
}

.img-label {
    border: 1.5px solid #FF6F61;
    display: inline-block;
    color: #FF6F61;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 60px;
}

/*エラーメッセージ*/
.form__error{
    color: red;
}


/*（仮）画面幅が850px以下のデバイス*/
@media (max-width: 850px) {
    .content-form {
        width: 90%;
        /* タブレット向けに幅を広げる(元は40%) */
        padding: 10px;
    }
}

/*画面幅が1400px以上のデバイス（PCなど）*/
@media (min-width: 1400px) {
    .content-form {
        padding: 30px;
    }
}