.content-form{
    width: 70%;
    margin: 0 auto ;
}

.purchase-form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.purchase-content__inner{
    margin-right: 50px;
}

.purchase-content{
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 40px;
}

.item-content{
    display: flex;
    gap: 30px;
}

.image-inner{
    background: rgb(211, 211, 211);
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.image{
    width: 100%;
}

.item-name{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.purchase-content__label{
    padding: 20px;
}

/*以下セレクトボックスのデザイン*/
.select-box-wrapper {
    position: relative;
    /*セレクトボックスの三角形用*/
}

.select-box {
    border: 1px solid rgb(206, 206, 216);
    border-radius: 3px;
    padding: 5px 100px 8px 0;
    color: gray;
    cursor: pointer;
    appearance: none;
    /*元の矢印を非表示にする*/
    padding-left: 10px;
    /*placeholderの文字を右に寄せるため*/
}

/*セレクトボックスの三角形*/
.select-box-wrapper::after {
    position: absolute;
    top: 15px;
    /*疑似要素を親要素の上から18pxのところに配置*/
    right: 270px;
    /*親要素の右から10pxのところに配置*/

    /*↓疑似要素の幅と高さを0に設定。これでボックス型として表示されなくなり、ボーダーを使って三角形を作れる。*/
    width: 0;
    height: 0;

    border-top: 8px solid gray;
    /*疑似要素の上にボーダーを設定(三角形の頂点部分)*/
    border-right: 5px solid transparent;
    /*右側に透明なボーダーを設定*/
    border-left: 5px solid transparent;
    /*左側に透明なボーダーを設定*/
    content: "";
    /*疑似要素のcontentを空の文字列に設定。疑似要素を表示するためにはcontentが必要。*/
    transform: translateY(-50%);
    /*垂直方向（Y軸）に要素の高さ50%分だけ移動させる。（親要素内で疑似要素を垂直方向に中央配置するために使う）*/
}

/* オプションが展開されたときのスタイル */
.select-box option {
    background: #818181;
    color: white;
}

.edit-addres__link{
    color: blue;
    text-decoration: none;
}

.purchase-content__upper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.purchase-content__main{
    margin-left: 70px;
}

.check-content__price{
    border: 1px solid black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.check-content__payment {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.purchase-btn{
    margin-top: 30px;
}

.purchase-form__error-message{
    color: red;
    margin-top: 5px;
    margin-left: 70px;
}